*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.bg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 90vh;
    background-image: url("img/carwash.jpg");
    position: relative;
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;

   
    
}
.text{ 
    
    color: white;
    padding: 30px;  
}
